html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html body {
    position: absolute;
    padding: 0 px;
    background-color: #ffffff;
    color: #000000;
}

.container-fluid {
     padding:5;
}



#green{
	background-color: #94F694;
}

#yellow{
	background-color: #FEFF8C;
}

#red{
	background-color: #FF7D7D;
}

#default{
	background-color:white;
}

.italie-logo {
	position: fixed;
	top: 25%;
	left: 4%;
}

#lightbulb {
  font-size: 100px;
  display: block;
  text-align: center;
}

h1 {
  padding: 0;
  margin: 10px 0;
}

.app {
	background: white !important;
}

.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
}

.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.list-group-item-home {
  padding: 20px;
}

pre {
  text-align: left !important;
}

input.scrollable-header {
  border-bottom: 3px solid #ccc;
}
