<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/serieA" version="1.0.1" viewmodes="fullscreen">
    <access origin="http://soccer.sportsopendata.net" subdomains="true"></access>
    <tizen:application id="pO2chhjBu6.FootballSerieATable" package="pO2chhjBu6" required_version="2.4"/>
    <author email="lirolaluis@gmail.com">Luis Lirola</author>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="logo_117x117.png" height="117" width="117"/>
    <name>Football Serie A Table</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:profile name="mobile"/>
    <tizen:setting screen-orientation="portrait" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
