<div class="scrollable">
  <h1 class="scrollable-header app-name">Designed by Lirola Luis</h1>
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off="uiSidebarLeft">
       <a class="list-group-item" href="#/" ng-click="getSeason('16-17')">2016/2017 <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/" ng-click="getSeason('15-16')">2015/2016 <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/" ng-click="getSeason('14-15')">2014/2015 <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/" ng-click="getSeason('13-14')">2013/2014 <i class="fa fa-chevron-right pull-right"></i></a>
    </div>
  </div>
</div>